<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:aop="http://www.springframework.org/schema/aop"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  ">

    <bean id="adviceMethods" class="tian.pusen.service.schema.AdviceMethods" />
    <bean id="waiter" class="tian.pusen.service.impl.WaiterImpl" />
    <bean id="seller" class="tian.pusen.service.impl.SellerImpl" />

    <aop:config proxy-target-class="true" >
        <aop:pointcut id="greetToPointcut"
                      expression="target(tian.pusen.service.Waiter) and execution(* greetTo(..)) " />

        <aop:aspect ref="adviceMethods">
            <aop:before method="preGreeting" pointcut-ref="greetToPointcut" />
        </aop:aspect>

        <aop:aspect ref="adviceMethods">
            <aop:after method="postGreeting" pointcut-ref="greetToPointcut" />
        </aop:aspect>
    </aop:config>
</beans>