<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:aop="http://www.springframework.org/schema/aop"
          xmlns:p="http://www.springframework.org/schema/p"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  ">

    <!-- 基于@AspectJ切面的驱动器 -->
    <aop:aspectj-autoproxy />
    <!-- 目标bean -->
    <bean id="waiter" class="tian.pusen.service.impl.WaiterImpl" />
    <bean id="seller" class="tian.pusen.service.impl.SellerImpl" />
    <!-- 使用@AspectJ 注释的切面类 -->
    <bean id="serviceBeforeAspect" class="tian.pusen.service.aspectj.ServiceBeforeAspect" />

</beans>